@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Sen', sans-serif;
    overflow-x: hidden;
}

/* page parts */
.portada{
    background: url('imgs/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}
.footer{
    background: url('imgs/imagen7ALTER.jpg');
    background-size: cover;
}
.proveedoreslist li{
    transition: 0.3s;
}
.proveedoreslist li:hover{
    color: #000000;
    background-color: #ffffff;
    padding: 1vh;
    cursor: pointer;
}
.contact{
    background: url('imgs/mapita2.png');
    background-size: cover;
}

/* backgrounds */
.backgroundnavbar{
    background-color: #043178;
}
.backgroundfooter{
    background-color: #b42d3b;
}
.plain{
    background-color: #E8E8E8;
}
.plain2{
    background-color: rgb(70, 70, 70, 0.8);
}
.catalogo{
    background: url('imgs/jardineros.png');
    
}

/* text transform (para seccion NOSOTROS */
.tt{
    align-items: center;
}
.productoEscogido{
    transition: 0.5s;
}
.productoEscogido:hover{
    transform: scale(0.95);
    background-color: rgba(0,0,0, 0.3);
    cursor: pointer;
}
.navbarfontcolor{
    color: #043178 !important;
}
.navbarlinks{
    border-right: solid 1px grey;

}


/* Custom icon colors */
.addicon{
    color: white !important;
    fill: white;
}
.addicon:hover{
    cursor: pointer;
}
.removeicon{
    color: red !important;
}
.removeicon:hover{
    cursor: pointer;
}
.modifyicon{
    color: orange !important;
}
.modifyicon:hover{
    cursor: pointer;
}
.darkicon{
    color: #000000;
}
.darkicon:hover{
    cursor: help;
}

/* chat */

.chat{
    position: sticky;
    bottom: 3vh;
    left: 0vh;
    width: auto;
    height: auto;
    text-align: center;
    z-index: 10;
    padding: 1vh;
    box-shadow: 10px 15px 10px -5px rgba(0,0,0,0.75);
}